
body{
    
    font-size:12px;
    color:green;
    
}
img{
    width : 100%;
}

#title{
    color : gray;
    text-align : center;
    font-size:20px;
    margin-bottom:8px;
    margin-top:25px;
}

#subTitle {
    color:gray;
    text-align : center;
}

.time{
    margin-right:10px;
    margin-bottom : 8px;
}

.all-img{
    text-align:center;
    color:gray;
    margin:8px 0;
}